<pbi-navbar [buttons]="headerButtons"></pbi-navbar>
<mat-sidenav-container>
  <mat-sidenav #tagspanel [mode]="isMobile ? 'over' : 'side'" style="width: 300px" class="navbar-shadow"
    [opened]="!isMobile" [disableClose]="!isMobile">
    <pbi-tags [tags]="movie?.tags"></pbi-tags>
  </mat-sidenav>
  <mat-sidenav #searchpanel position="end" mode="over" style="width: 340px">
    <pbi-search (itemSelected)="playSearchedItem($event)"></pbi-search>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="flex flex-col justify-center">
      <header>
        @if(!movie) {
          <div class="flex flex-row justify-center content-center">
            <h2 class="alt" id='loadingMovie' i18n>Loading...</h2>
          </div>
        } @else {
          <div class="flex flex-row justify-center content-center">
            <h2 class="alt" id='authorName'><a class="cursor-pointer" (click)='searchAuthor()' i18n-matTooltip matTooltip="Search this author">{{ getAuthorName() }}</a></h2>
            <h2 class="alt" id='movieTitle'>&nbsp;- {{ getMovieTitle() }}</h2>
            @if(movie.subtitle != '' || movie.author.subname != '') {
              <h2 id='switchDisplay'>&nbsp;<a class="cursor-pointer" (click)='this.showSub = !this.showSub' i18n-matTooltip matTooltip="Show japanese"><mat-icon>{{ showSub ? 'toggle_on' : 'toggle_off' }}</mat-icon></a></h2>
            }
          </div>
        }
      </header>
      <div class="flex flex-row justify-center">
        <div #youtubeDiv>
          <youtube-player [width]="playerWidth" [height]="playerHeight" (stateChange)="onStateChange($event)" (error)="onError($event)" [videoId]="movie?.linkId" [playerVars]="{'autoplay':1}"></youtube-player>
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-center" style="margin-top: 10px">
      <a mat-raised-button i18n-matTooltip matTooltip="Next" mdTooltipPosition="left" (click)='playNextVideo()'>
        <mat-icon>skip_next</mat-icon>
      </a>
      &nbsp;
      @if(isMobile) {
        <a mat-raised-button i18n-matTooltip matTooltip="Tags" (click)='tagspanel.toggle()'>
          <mat-icon>bookmark</mat-icon>
        </a>
      }
    </div>
    <br>
    <div class="text-center">
      <a mat-button href="https://cracrayol.org">&copy; cracrayol / 2012-{{ currentDate | date:'yyyy'}}</a>
      <span class="spacer"></span>
      <a mat-button href="https://github.com/cracrayol/pibui_front" i18n>Source Code</a>
      <a mat-button (click)="openLegalNotice()" i18n>Legal Notice</a>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>