<pbi-navbar [buttons]="headerButtons"></pbi-navbar>
<mat-sidenav-container>
  <mat-sidenav #tagspanel [mode]="isMobile ? 'over' : 'side'" style="width: 300px" class="navbar-shadow"
    [opened]="!isMobile" [disableClose]="!isMobile">
    <pbi-tags [tags]="movie?.tags"></pbi-tags>
  </mat-sidenav>
  <mat-sidenav #searchpanel position="end" mode="over" style="width: 340px">
    <pbi-search (itemSelected)="playSearchedItem($event)" selectionIcon="play_circle_outline"></pbi-search>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="flex flex-col justify-center">
      <header>
        <div *ngIf="!movie" class="flex flex-row justify-center content-center">
          <h2 class="alt" id='movieTitle' i18n>Loading...</h2>
        </div>
        <div *ngIf="movie" class="flex flex-row justify-center content-center">
          <h2 class="alt" id='movieTitle'><a class="cursor-pointer" (click)='searchAuthor()' i18n-matTooltip matTooltip="Search this author">{{ movie.author.name }}</a></h2>
          <a mat-icon-button i18n-matTooltip matTooltip="Edit author" (click)='editAuthor()'
            *ngIf="this.auth.getUser() && this.auth.getUser().isAdmin" color="primary">
            <mat-icon>edit</mat-icon>
          </a>
          <h2 class="alt" id='movieTitle'> - {{ movie.title }}</h2>
          <a mat-icon-button i18n-matTooltip matTooltip="Edit movie" (click)='editMovie()'
            *ngIf="this.auth.getUser() && this.auth.getUser().isAdmin" color="primary">
            <mat-icon>edit</mat-icon>
          </a>
        </div>
        <div class="flex flex-row justify-center content-center">
          <h4 class="alt" id='movieSubtitle' *ngIf="movieSubtitle">{{ movieSubtitle }}</h4>
        </div>
      </header>
      <div class="flex flex-row justify-center">
        <div class="embed-responsive embed-responsive-16by9 basis-4/5">
          <youtube-player (stateChange)="onStateChange($event)" (error)="onError($event)"></youtube-player>
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-center" style="margin-top: 10px">
      <a mat-raised-button i18n-matTooltip matTooltip="Next" mdTooltipPosition="left" (click)='playNextVideo()'>
        <mat-icon>skip_next</mat-icon>
      </a>
      &nbsp;
      <a mat-raised-button i18n-matTooltip matTooltip="Tags" (click)='tagspanel.toggle()' *ngIf="isMobile">
        <mat-icon>bookmark</mat-icon>
      </a>
    </div>
    <br>
  </mat-sidenav-content>
</mat-sidenav-container>