<mat-toolbar class="navbar navbar-shadow" color="primary">
  <a mat-button routerLink="/">PIBUI</a>&nbsp;&nbsp;
  <span class="spacer"></span>
  @for(button of buttons(); track button) {
    <button mat-icon-button (click)="button.click()">
      <mat-icon>{{ button.icon }}</mat-icon>
    </button>
  }
  @if(!authService.isLoggedIn()) {
    <button mat-button (click)="login()">
      <mat-icon>input</mat-icon>&nbsp;
      <span i18n>Register/Sign-in</span>
    </button>
  } @else {
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon aria-label="Account">account_circle</mat-icon>
    </button>
  }
</mat-toolbar>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item (click)="openSettings()">
    <mat-icon>settings</mat-icon>&nbsp;
    <span i18n>Settings</span>
  </button>
  @if(authService.isLoggedIn() && authService.getUser().isAdmin) {
    <button mat-menu-item routerLink="/admin">
      <mat-icon>settings_applications</mat-icon>&nbsp;
      <span i18n>Admin</span>
    </button>
  }
  <button mat-menu-item (click)="logout()">
    <mat-icon>power_settings_new</mat-icon>&nbsp;
    <span i18n>Logout</span>
  </button>
</mat-menu>