<h1 mat-dialog-title *ngIf="author === null; else editAuthor" i18n>Add author</h1>
<ng-template #editAuthor><h1 mat-dialog-title i18n>Edit author</h1></ng-template>
<form [formGroup]="authorForm">
  <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
    <mat-form-field>
      <input matInput i18n-placeholder placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput i18n-placeholder placeholder="Subname" formControlName="subname">
    </mat-form-field>
  </div>
</form>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close i18n>Cancel</button>&nbsp;
  <button mat-raised-button color="primary" (click)="save()" i18n>Save</button>
</mat-dialog-actions>
