@if(playlist === null) {
  <h1 mat-dialog-title i18n>Add playlist</h1>
} @else {
  <h1 mat-dialog-title i18n>Edit playlist</h1>
}
<mat-dialog-content>
  <form [formGroup]="playlistForm">
    <div class="flex flex-col justify-center">
      <mat-form-field>
        <input matInput i18n-placeholder placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-checkbox formControlName="public" i18n>The playlist is public</mat-checkbox>
      @if(playlist !== null) {
        <app-tag-autocomplete [(tags)]="playlist.mandatoryTags" placeholder="Mandatory tags"></app-tag-autocomplete>
        <app-tag-autocomplete [(tags)]="playlist.allowedTags" placeholder="Allowed tags"></app-tag-autocomplete>
        <app-tag-autocomplete [(tags)]="playlist.forbiddenTags" placeholder="Forbidden tags"></app-tag-autocomplete>
      }
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="null" i18n>Cancel</button>&nbsp;
  <button mat-raised-button color="primary" (click)="save()" i18n>Save</button>
</mat-dialog-actions>
