@if(playlist === null) {
  <h1 mat-dialog-title i18n>Add playlist</h1>
} @else {
  <h1 mat-dialog-title i18n>Edit playlist</h1>
}
<mat-dialog-content>
  <form [formGroup]="playlistForm">
    <div class="flex flex-col justify-center">
      <mat-form-field>
        <input matInput i18n-placeholder placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-checkbox formControlName="public" i18n>The playlist is public</mat-checkbox>
      @if(playlist !== null) {
        @if(playlist.mandatoryTags && playlist.mandatoryTags.length > 0) {
          <mat-label i18n>Mandatory tags</mat-label>
          <mat-chip-listbox>
            @for(tag of playlist.mandatoryTags; track tag.id) {
              <mat-chip-row (removed)="removeTag(tag.id, TagType.MANDATORY)">
                {{tag.name}}
                <button matChipRemove [attr.aria-label]="'remove ' + tag.name">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            }
          </mat-chip-listbox>
        }
        @if(playlist.allowedTags && playlist.allowedTags.length > 0) {
          <mat-label i18n>Allowed tags</mat-label>
          <mat-chip-listbox>
            @for(tag of playlist.allowedTags; track tag.id) {
              <mat-chip-row (removed)="removeTag(tag.id, TagType.ALLOWED)">
                {{tag.name}}
                <button matChipRemove [attr.aria-label]="'remove ' + tag.name">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            }
          </mat-chip-listbox>
        }
        @if(playlist.forbiddenTags && playlist.forbiddenTags.length > 0) {
          <mat-label i18n>Forbidden tags</mat-label>
          <mat-chip-listbox>
            @for(tag of playlist.forbiddenTags; track tag.id) {
              <mat-chip-row (removed)="removeTag(tag.id, TagType.FORBIDDEN)">
                {{tag.name}}
                <button matChipRemove [attr.aria-label]="'remove ' + tag.name">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            }
          </mat-chip-listbox>
        }
      }
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="null" i18n>Cancel</button>&nbsp;
  <button mat-raised-button color="primary" (click)="save()" i18n>Save</button>
</mat-dialog-actions>
