<pbi-navbar [buttons]="headerButtons"></pbi-navbar>
<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-tab-group>
      <mat-tab i18n-label label="Movies">
        <div class="flex flex-row justify-center">
          <pbi-movie-manage class="grow m-8"></pbi-movie-manage>
        </div>
      </mat-tab>
      <mat-tab i18n-label label="Authors">
        <div class="flex flex-row justify-center">
          <pbi-author-manage class="grow m-8"></pbi-author-manage>
        </div>
      </mat-tab>
      <mat-tab i18n-label label="Tags">
        <div class="flex flex-row justify-center">
          <pbi-tag-manage class="grow m-8"></pbi-tag-manage>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>