<pbi-navbar [buttons]="headerButtons"></pbi-navbar>
<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-tab-group>
      <mat-tab i18n-label label="Movies">
        <div class="flex flex-row justify-center">
          <pbi-manage-movie class="grow m-8"></pbi-manage-movie>
        </div>
      </mat-tab>
      <mat-tab i18n-label label="Authors">
        <div class="flex flex-row justify-center">
          <pbi-manage-author class="grow m-8"></pbi-manage-author>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>