<h1 mat-dialog-title>Mentions légales</h1>
<div mat-dialog-content>
  <b>Hébergeur</b><br>
  PlanetHoster<br>
  4416 Louis B. Mayer, Laval (Québec) H7P 0G1, Canada<br>
  Tél. : 0 805 080 426 (n° Vert)<br>
  <br>
  <b>Administrateur et développeur du site</b><br>
  Cracrayol<br>
  <br>
  <br>
  <span style="font-size: 22px"><b>Confidentialité</b></span><br>
  <br>
  <span style="font-size: 18px"><b>Politique relative aux Cookies</b></span><br>
  <br>
  <br>
  <span style="font-size: 18px"><b>Compte</b></span><br>
  Pour s’inscrire sur Pibui, l’utilisateur a besoin d’une adresse email valide pour créer son compte. Cette adresse
  email lui servira de login sur Pibui. Les éventuels emails qui seront envoyés sur l’adresse email fournie par
  l’utilisateur ne seront que des emails automatiques concernant la connexion à son compte.<br>
  <br>
  Un compte sur Pibui est personnel. L’utilisateur s’engage à ne partager ses logins avec qui que ce soit.<br>
  <br>
  Les données collectées pour un utilisateur enregistré ont pour seul usage d’apporter un confort et un accès aux
  fonctionnalités avancées de la plateforme comme l’ajout de clip, les préférences de tags, les playlists, etc.<br>
  <br>
  <span style="font-size: 18px"><b>Suppression des données et du compte</b></span><br>
  L’utilisateur peut demander à tout moment que son compte soit supprimé et que ses données personnelles, comme son
  adresse email, n’apparaissent plus dans la base de données de Pibui.<br>
  <br>
  A noter que l’utilisateur peut regarder des clips sur Pibui sans s’inscrire, mais il n’aura pas accès à toutes les
  fonctionnalités de la plateforme.
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</div>
